:root{
    --primary-color: #028090;
    --primary-color-dark:#114B5F;
    --secondary-color: #f45B69;
    --secondary-color-dark:#c33C54;
    --gray-color: #ccc;
    --gray-color-dark: #333;
}