<aside>
    <div class="widget">
        <h3>Iniciar Sesión</h3>
        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="widget">
        <h3>Ultimas entradas</h3>
        <ul>
            <li>
                <a href="#">lo más buscado</a>
            </li>
            <li>
                <a href="#">Precios Bajos</a>
            </li>
            <li>
                <a href="#">Costos de envio</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            Quien sufre antes de que sea necesario, sufre más de lo necesario. -Anónimo-
        </blockquote>
    </div>
</aside>