<nav class="mainMenu">
    <ul>
        <li>
            <a href="#">Inicio</a>
        </li>
        <li>
            <a href="#">Especias</a>
            <ul>
                <li>
                    <a href="#">Comino---</a>
                </li>
                <li>
                    <a href="#">Pimienta---</a>
                </li>
                <li>
                    <a href="#">Albahaca---</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Verduras</a>
        </li>
        <li>
            <a href="#">Frutas</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
    </ul>
</nav>